<div class="container-fluid">
    <img class="logoPagina" src="./assets/logoPagina.png">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-lg-none">
              <img class="logoPagina2" src="./assets/logoPagina.png">
              <span class="nombrePag"> TOPCLOTHES </span>
            </div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/futbol-menu">Fútbol</a>
                </li>
              </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="/">Home</a>
              </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" routerLink="/formula-menu">Motor</a>
                </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" routerLink="/nba-menu">Nba</a>
                </li>
            </ul>
          </div>
        </div>
      </nav>
    <span class="textHeader"> FÚTBOL </span>
</div>
<div id="menu" class="container-fluid">
    <!-- <div class="container" (click)="navigateToLigas()">
        <span class="text"> LIGAS </span>
        <img class="img" src="./assets/angulo-de-la-flecha-apuntando-hacia-la-derecha.png">
    </div>
    <div class="container" (click)="navigateToSelecciones()">
        <span class="text"> SELECCIONES NACIONALES </span>
        <img class="img" src="./assets/angulo-de-la-flecha-apuntando-hacia-la-derecha.png">
    </div>
    <div class="container" (click)="navigateToRetro()">
        <span class="text"> CAMISETAS RETRO </span>
        <img class="img" src="./assets/angulo-de-la-flecha-apuntando-hacia-la-derecha.png">
    </div>
    <div class="container">
      <span class="text"> TALLAS </span>
      <img class="img" src="./assets/angulo-de-la-flecha-apuntando-hacia-la-derecha.png">
    </div> -->
    <div id="primero" class="container"> 
      <div id="divBody" class="container" (click)="navigateToLigas()"> 
          <div class="header">
              <span> LIGAS </span>
          </div>
          <div class="bodyCon">
              <span> ¡Las mejores camisetas de fútbol para verdaderos fanáticos!  <br> Descubre nuestras selecciones de ligas de élite y viste con estilo esta temporada. </span>
          </div>
      </div>
  </div>
  <div id="segundo" class="container"> 
      <div id="motor" class="container" (click)="navigateToSelecciones()">
          <div class="header">
              <span> SELECCIONES </span>
          </div>
          <div class="bodyCon">
              <span> ¡Descubre nuestra colección de camisetas de selecciones nacionales! </span>
          </div>
      </div>
      <div id="nba" class="container" (click)="navigateToRetro()">
          <div class="header">
              <span> RETRO </span>
          </div>
          <div class="bodyCon">
              <span> Revive la nostalgia del fútbol con nuestras camisetas antiguas. </span>
          </div>
      </div>
  </div>
  <div id="segundo" class="container"> 
      <div id="divBody" class="container" data-bs-toggle="modal" data-bs-target="#exampleModal"> 
          <div class="header">
              <span> TALLAS </span>
          </div>
          <div class="bodyCon">
              <span> Encuentra la talla perfecta para ti. Consulta nuestra guía de tallas. 
                Te ofrecemos una variedad de opciones para que encuentres la comodidad que necesitas mientras representas a tu equipo favorito en estilo. </span>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logoPagina" src="./assets/logoPagina.png">
        <span class="title"> TOPCLOTHES </span>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="headerTalla" class="container"> 
          <span> ¿QUÉ TABLA DE TALLAS QUIERES VER? </span>
        </div>
        <div id="eleccionTalla" class="container"> 
          <div class="eleccion" data-bs-toggle="modal" data-bs-target="#modalCamisPV">
            CAMISETA PLAYER VERSION
          </div>
          <div class="eleccion" data-bs-toggle="modal" data-bs-target="#modalCamisFan">
            CAMISETA FAN
          </div>
          <div class="eleccion" data-bs-toggle="modal" data-bs-target="#modalPantalon">
            PANTALÓN
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- MODAL PARA TALLAS PANTALON -->

<div class="modal fade" id="modalPantalon" tabindex="-1" aria-labelledby="modalPantalonLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logoPagina" src="./assets/logoPagina.png">
        <span class="title"> TOPCLOTHES </span>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="talla" class="container">  
          <span> PANTALÓN </span>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr class="table-primary"> 
                <th scope="col">Talla</th>
                <th scope="col">1/2 Cintura</th>
                <th scope="col">Largo</th>
                <th scope="col">CM de Cliente</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr class="table-secondary">
                <th scope="row">S</th>
                <td>30</td>
                <td>44</td>
                <td>165-170</td>
              </tr>
              <tr class="table-success">
                <th scope="row">M</th>
                <td>32</td>
                <td>46</td>
                <td>170-175</td>
              </tr>
              <tr class="table-danger">
                <th scope="row">L</th>
                <td>34</td>
                <td>48</td>
                <td>175-180</td>
              </tr>
              <tr class="table-warning">
                <th scope="row">XL</th>
                <td>36</td>
                <td>50</td>
                <td>180-185</td>
              </tr>
              <tr class="table-info">
                <th scope="row">2XL</th>
                <td>38</td>
                <td>50</td>
                <td>185-190</td>
              </tr>
              <tr class="table-light">
                <th scope="row">3XL</th>
                <td>40</td>
                <td>52</td>
                <td>190-195</td>
              </tr>
              <tr class="table-light">
                <th scope="row">4XL</th>
                <td>42</td>
                <td>54</td>
                <td>195-200</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="talla" class="container">  
          <span> Se permite un margen de error de +/- 2CM </span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL PARA TALLAS CAMISETAS FAN -->

<div class="modal fade" id="modalCamisFan" tabindex="-1" aria-labelledby="modalCamisFanLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logoPagina" src="./assets/logoPagina.png">
        <span class="title"> TOPCLOTHES </span>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="talla" class="container">  
          <span> CAMISETAS FAN </span>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr class="table-primary"> 
                <th scope="col">Talla</th>
                <th scope="col">1/2 Pecho</th>
                <th scope="col">Largo</th>
                <th scope="col">CM de Cliente</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr class="table-secondary">
                <th scope="row">S</th>
                <td>49-51</td>
                <td>67-69</td>
                <td>165-170</td>
              </tr>
              <tr class="table-success">
                <th scope="row">M</th>
                <td>51-53</td>
                <td>69-71</td>
                <td>170-175</td>
              </tr>
              <tr class="table-danger">
                <th scope="row">L</th>
                <td>53-55</td>
                <td>71-73</td>
                <td>175-180</td>
              </tr>
              <tr class="table-warning">
                <th scope="row">XL</th>
                <td>55-57</td>
                <td>73-76</td>
                <td>180-185</td>
              </tr>
              <tr class="table-info">
                <th scope="row">2XL</th>
                <td>58-60</td>
                <td>77-79</td>
                <td>185-190</td>
              </tr>
              <tr class="table-light">
                <th scope="row">3XL</th>
                <td>60-62</td>
                <td>80-82</td>
                <td>190-195</td>
              </tr>
              <tr class="table-light">
                <th scope="row">4XL</th>
                <td>62-64</td>
                <td>82-84</td>
                <td>195-200</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="talla" class="container">  
          <span> Se permite un margen de error de +/- 2CM </span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL PARA TALLAS CAMISETAS PLAYER VERSION -->

<div class="modal fade" id="modalCamisPV" tabindex="-1" aria-labelledby="modalCamisPVLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logoPagina" src="./assets/logoPagina.png">
        <span class="title"> TOPCLOTHES </span>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="talla" class="container">  
          <span> CAMISETAS PLAYER VERSION </span>
        </div>
        <!-- TABLA 1 ADIDAS -->
        <div class="table-responsive">
          <table class="table table-striped" *ngIf="mostrarTabla1">
            <thead>
              <tr class="table-primary"> 
                <th scope="col">Talla</th>
                <th scope="col">Largo</th>
                <th scope="col">1/2 Pecho</th>
                <th scope="col">Cintura</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr class="table-secondary">
                <th scope="row">S</th>
                <td>70</td>
                <td>47</td>
                <td>44</td>
              </tr>
              <tr class="table-success">
                <th scope="row">M</th>
                <td>72</td>
                <td>49</td>
                <td>46</td>
              </tr>
              <tr class="table-danger">
                <th scope="row">L</th>
                <td>75</td>
                <td>51</td>
                <td>48</td>
              </tr>
              <tr class="table-warning">
                <th scope="row">XL</th>
                <td>78</td>
                <td>53</td>
                <td>50</td>
              </tr>
              <tr class="table-info">
                <th scope="row">XXL</th>
                <td>80</td>
                <td>55</td>
                <td>52</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- TABLA 2 PUMA/NIKE/NB -->
        <div class="table-responsive">
          <table class="table table-striped" *ngIf="!mostrarTabla1">
            <thead>
              <tr class="table-primary"> 
                <th scope="col">Talla</th>
                <th scope="col">Largo</th>
                <th scope="col">Pecho</th>
                <th scope="col">Cintura</th>
               </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr class="table-secondary">
                <th scope="row">S</th>
                <td>69</td>
                <td>49</td>
                <td>45</td>
              </tr>
              <tr class="table-success">
                <th scope="row">M</th>
                <td>72</td>
                <td>51</td>
                <td>47</td>
              </tr>
              <tr class="table-danger">
                <th scope="row">L</th>
                <td>74</td>
                <td>53</td>
                <td>49</td>
              </tr>
              <tr class="table-warning">
                <th scope="row">XL</th>
                <td>77</td>
                <td>56</td>
                <td>52</td>
              </tr>
              <tr class="table-info">
                <th scope="row">XXL</th>
                <td>80</td>
                <td>59</td>
                <td>55</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="nombre" class="container">
          <span> {{modalTitulo}}</span>
        </div>
        <div id="footer" class="container">
          <button id="btnFooter" type="button" class="btn btn-primary" (click)="cambiarTabla(true)" [disabled]="mostrarTabla1">Anterior</button>
          <button id="btnFooter" type="button" class="btn btn-primary" (click)="cambiarTabla(false)" [disabled]="!mostrarTabla1">Siguiente</button>
        </div>
        <div id="talla" class="container">  
          <span> Se permite un margen de error de +/- 2CM </span>
        </div>
      </div>
    </div>
  </div>
</div>
