<div class="container-fluid">
    FÚTBOL
</div>
<div id="menu" class="container-fluid">
    <div class="container" (click)="navigateToLigas()">
        <span class="text"> LIGAS </span>
        <img class="img" src="../../assets/angulo-de-la-flecha-apuntando-hacia-la-derecha.png">
    </div>
    <div class="container" (click)="navigateToSelecciones()">
        <span class="text"> SELECCIONES NACIONALES </span>
        <img class="img" src="../../assets/angulo-de-la-flecha-apuntando-hacia-la-derecha.png">
    </div>
    <div class="container" (click)="navigateToRetro()">
        <span class="text"> CAMISETAS RETRO </span>
        <img class="img" src="../../assets/angulo-de-la-flecha-apuntando-hacia-la-derecha.png">
    </div>
</div>
