<div class="container-fluid">
  <img class="logoPagina" src="./assets/logoPagina.png">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="d-lg-none">
            <img class="logoPagina2" src="./assets/logoPagina.png">
            <span class="nombrePag"> TOPCLOTHES </span>
          </div>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/escuderiasmoto-menu">Motor</a>
              </li>
            </ul>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLink="/">Home</a>
            </li>
          </ul>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="/futbol-menu">Fútbol</a>
              </li>
          </ul>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="/nba-menu">Nba</a>
              </li>
          </ul>
        </div>
      </div>
    </nav>
  <span class="textHeader"> MOTOGP </span>
</div>
<div id="menu" class="container-fluid">
  <div id="segundo" class="container"> 
      <div id="motor" class="container honda">
          <div class="header">
              <span> REPSOL HONDA </span>
          </div>
          <div class="bodyCon">
            <img class="img-fluid coche" src="https://cdn-1.motorsport.com/static/custom/car-thumbs/MOTOGP_2022/Bikes/Honda.png">
          </div>
      </div>
      <div id="nba" class="container yamaha">
          <div class="header">
              <span> YAMAHA </span>
          </div>
          <div class="bodyCon">
            <img class="img-fluid coche" src="https://cdn-6.motorsport.com/images/vcl/VY9Z7X6b/s3/img698974995-4-4.png">
          </div>
      </div>
  </div>
  <div id="segundo" class="container"> 
    <div id="motor" class="container ducati">
        <div class="header">
            <span> DUCATI </span>
        </div>
        <div class="bodyCon">
          <img class="img-fluid coche" src="https://cdn-7.motorsport.com/images/vcl/J0r8QGYn/s3/img2113393013-1.png">
        </div>
    </div>
    <div id="nba" class="container ktm">
        <div class="header">
            <span> KTM </span>
        </div>
        <div class="bodyCon">
          <img class="img-fluid coche" src="https://cdn-1.motorsport.com/static/custom/car-thumbs/MOTOGP_2022/Bikes/KTM.png">
        </div>
    </div>
  </div>
  <div id="segundo" class="container"> 
    <div id="motor" class="container aprilia">
        <div class="header">
            <span> APRILIA </span>
        </div>
        <div class="bodyCon">
          <img class="img-fluid coche" src="http://cdn-1.motorsport.com/static/custom/car-thumbs/MOTOGP_2022/Bikes/Aprilia.png">
        </div>
    </div>
    <div id="nba" class="container rnf">
        <div class="header">
            <span> RNF RACING </span>
        </div>
        <div class="bodyCon">
          <img class="img-fluid coche" src="http://cdn-1.motorsport.com/static/custom/car-thumbs/MOTOGP_2022/Bikes/RNF.png">
        </div>
    </div>
  </div>
  <div id="segundo" class="container"> 
    <div id="motor" class="container pramac">
        <div class="header">
            <span> PRAMAC RACING </span>
        </div>
        <div class="bodyCon">
          <img class="img-fluid coche" src="https://cdn-1.motorsport.com/static/custom/car-thumbs/MOTOGP_2022/Bikes/Prima.png">
        </div>
    </div>
    <div id="nba" class="container lcr">
        <div class="header">
            <span> TEAM LCR </span>
        </div>
        <div class="bodyCon">
          <img class="img-fluid coche" src="http://cdn-1.motorsport.com/static/custom/car-thumbs/MOTOGP_2022/Bikes/Marquez.png">
        </div>
    </div>
  </div>
  <div id="segundo" class="container"> 
    <div id="motor" class="container gasgas">
        <div class="header">
            <span> GASGAS-TECH3 </span>
        </div>
        <div class="bodyCon">
          <img class="img-fluid coche" src="http://cdn-1.motorsport.com/static/custom/car-thumbs/MOTOGP_2022/Bikes/Tech3.png">
        </div>
    </div>
    <div id="nba" class="container vr46">
        <div class="header">
            <span> MOONEY VR46 </span>
        </div>
        <div class="bodyCon">
          <img class="img-fluid coche" src="http://cdn-1.motorsport.com/static/custom/car-thumbs/MOTOGP_2022/Bikes/VR46.png">
        </div>
    </div>
  </div>
  <div id="segundo" class="container"> 
    <div id="motor" class="container gresini">
        <div class="header">
            <span> GRESINI </span>
        </div>
        <div class="bodyCon">
          <img class="img-fluid coche" src="http://cdn-1.motorsport.com/static/custom/car-thumbs/MOTOGP_2022/Bikes/Gresini.png">
        </div>
    </div>
  </div>
</div>


