<div class="container-fluid">
    CATÁLOGO DE CAMISETAS
</div>
<div id="menu" class="container-fluid">
    <div class="container" (click)="navigateToFutbolMenu()">
        <span class="text"> FÚTBOL </span>
        <img class="img" src="../../assets/angulo-de-la-flecha-apuntando-hacia-la-derecha.png">
    </div>
    <div class="container" (click)="navigateToFormulaMenu()">
        <span class="text"> MOTOR </span>
        <img class="img" src="../../assets/angulo-de-la-flecha-apuntando-hacia-la-derecha.png">
    </div>
    <div class="container" (click)="navigateToNbaMenu()">
        <span class="text"> NBA </span>
        <img class="img" src="../../assets/angulo-de-la-flecha-apuntando-hacia-la-derecha.png">
    </div>
    <div id="info" class="container">
        <span class="text"> INFORMACIÓN </span>
        <img class="img" src="../../assets/informacion.png">
    </div>
</div>
