<div class="container-fluid">
    <img class="logoPagina" src="./assets/logoPagina.png">
    <span> CATÁLOGO DE CAMISETAS </span>
</div>
<div id="menu" class="container-fluid">
    <div class="container" (click)="navigateToFutbolMenu()">
        <img class="logo" src="./assets/futbol-americano.png">
        <span class="text"> FÚTBOL </span>
        <img class="img" src="./assets/angulo-de-la-flecha-apuntando-hacia-la-derecha.png">
    </div>
    <div class="container" (click)="navigateToFormulaMenu()">
        <img class="logo" src="./assets/motor-del-coche.png">
        <span class="text"> MOTOR </span>
        <img class="img" src="./assets/angulo-de-la-flecha-apuntando-hacia-la-derecha.png">
    </div>
    <div class="container" (click)="navigateToNbaMenu()">
        <img class="logo" src="./assets/baloncesto.png">
        <span class="text"> NBA </span>
        <img class="img" src="./assets/angulo-de-la-flecha-apuntando-hacia-la-derecha.png">
    </div>
    <div id="info" class="container">
        <span class="text"> INFORMACIÓN </span>
        <img class="img" src="./assets/informacion.png">
    </div>
</div>
