<div class="container-fluid">
    <img class="logoPagina" src="./assets/logoPagina.png">
    <span class="title"> TOPCLOTHES </span>
</div>
<div id="menu" class="container-fluid">
    <div id="primero" class="container"> 
        <div id="divBody" class="container" (click)="navigateToFutbolMenu()"> 
            <div class="header">
                <span> FÚTBOL </span>
            </div>
            <div class="bodyCon">
                <span> Conoce nuestras camisetas de la mejor calidad posible, las mejores ligas y vuestras camisetas favoritas. </span>
            </div>
            <div class="imagen">
                <img class="img-fluid" src="./assets/camiseta-de-futbol (1).png">
                <img class="img-fluid" src="./assets/camiseta-de-futbol.png">
            </div>
        </div>
    </div>
    <div id="segundo" class="container"> 
        <div id="motor" class="container" (click)="navigateToFormulaMenu()">
            <div class="header">
                <span> MOTOR </span>
            </div>
            <div class="bodyCon">
                <span> Los mejores equipos de Fórmula 1 y de MotoGP. </span>
            </div>
            <div class="imagen">
                <img class="img-fluid" src="https://cdn1.iconfinder.com/data/icons/society-profession-avatar/1024/Society_Profession_Avatar_I-16-128.png">
            </div>
        </div>
        <div id="nba" class="container" (click)="navigateToNbaMenu()">
            <div class="header">
                <span> NBA </span>
            </div>
            <div class="bodyCon">
                <span> Mejores equipos de la NBA, elige la que más te guste! </span>
            </div>
            <div class="imagen">
                <img class="img-fluid" src="https://cdn-icons-png.flaticon.com/256/5140/5140394.png">
            </div>
        </div>
    </div>
    <div id="segundo" class="container"> 
        <div id="divBody" class="container" (click)="navigateToInfo()"> 
            <div class="header">
                <span> INFORMACIÓN </span>
                <img id="info" class="img-fluid" src="./assets/informacion.png">
            </div>
            <div class="bodyCon">
                <span> Si quieres contactar con nosotros, aquí puedes encontrar los télefonos. </span> <br>
                <span> También podrás consultar el correcto lavado para nuestras camisetas. </span>
            </div>
        </div>
    </div>
</div>
