<div class="container-fluid">
   <span class="title">  FORMULA 1 </span>
</div>
<div id="grid" class="container text-center">
    <div id="cols" class="row row-cols-2">
      <div class="col">
        <div id="liga" class="container" [ngStyle]="{ 'background-color': colorList[0] }">
            <span class="text"> RED BULL </span>
            <img class="pais" src="./assets/redbull.png">
        </div>
      </div>
      <div class="col">
        <div id="liga" class="container" [ngStyle]="{ 'background-color': colorList[1] }">
            <span class="text"> MERCEDES </span>
            <img class="pais" src="./assets/mercedes.png">
        </div>
      </div>
      <div class="col">
        <div id="liga" class="container" [ngStyle]="{ 'background-color': colorList[2] }">
            <span class="text"> ASTON MARTIN </span>
            <img class="pais" src="./assets/aston.png">
        </div>
      </div>
      <div class="col">
        <div id="liga" class="container" [ngStyle]="{ 'background-color': colorList[3] }">
            <span class="text"> MCLAREN </span>
            <img class="pais" src="./assets/mclaren.png">
        </div>
      </div>
      <div class="col">
        <div id="liga" class="container" [ngStyle]="{ 'background-color': colorList[4] }">
            <span class="text"> FERRARI </span>
            <img class="pais" src="./assets/ferrari.png">
        </div>
      </div>
      <div class="col">
        <div id="liga" class="container" [ngStyle]="{ 'background-color': colorList[5] }">
            <span class="text"> ALPINE </span>
            <img class="pais" src="./assets/alpine.png">
        </div>
      </div>
      <div class="col">
        <div id="liga" class="container" [ngStyle]="{ 'background-color': colorList[6] }">
            <span class="text"> ALFA ROMEO </span>
            <img class="pais" src="./assets/alfaromeo.png">
        </div>
      </div>
      <div class="col">
        <div id="liga" class="container" [ngStyle]="{ 'background-color': colorList[7] }">
            <span class="text"> ALPHATAURI </span>
            <img class="pais" src="./assets/alphatauri.png">
        </div>
      </div>
      <div class="col">
        <div id="liga" class="container" [ngStyle]="{ 'background-color': colorList[8] }">
            <span class="text"> WILLIAMS </span>
            <img class="pais" src="./assets/williams.png">
        </div>
      </div>
      <div class="col">
        <div id="liga" class="container" [ngStyle]="{ 'background-color': colorList[9] }">
            <span class="text"> HAAS </span>
            <img class="pais" src="./assets/haas.png">
        </div>
      </div>
    </div>
</div>

