<div class="container-fluid">
  <img class="logoPagina" src="./assets/logoPagina.png">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="d-lg-none">
            <img class="logoPagina2" src="./assets/logoPagina.png">
            <span class="nombrePag"> TOPCLOTHES </span>
          </div>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/nba-menu">Nba</a>
              </li>
            </ul>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLink="/">Home</a>
            </li>
          </ul>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="/futbol-menu">Fútbol</a>
              </li>
          </ul>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="/formula-menu">Motor</a>
              </li>
          </ul>
        </div>
      </div>
    </nav>
  <span class="textHeader"> NBA </span>
</div>
<div id="menu" class="container-fluid">
<div id="segundo" class="container"> 
    <div id="motor" class="container">
        <div class="header">
            <span> CONF ESTE </span>
        </div>
        <div class="bodyCon">
            <span> ¡Lleva la magia de la NBA a tu armario con nuestras camisetas de la Conferencia Este! </span>
        </div>
    </div>
    <div id="nba" class="container">
        <div class="header">
            <span> CONF OESTE </span>
        </div>
        <div class="bodyCon">
            <span> ¡Viste como un campeón con nuestras camisetas de la Conferencia Oeste de la NBA! </span>
        </div>
    </div>
</div>
<div id="segundo" class="container"> 
    <div id="divBody" class="container"> 
        <div class="header">
            <span> TALLAS </span>
        </div>
        <div class="bodyCon">
            <span> Encuentra la talla perfecta para ti. Consulta nuestra guía de tallas. 
              Te ofrecemos una variedad de opciones para que encuentres la comodidad que necesitas mientras representas a tu equipo favorito en estilo. </span>
        </div>
    </div>
</div>
</div>

