<div class="container-fluid">
  <img class="logoPagina" src="./assets/logoPagina.png">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="d-lg-none">
            <img class="logoPagina2" src="./assets/logoPagina.png">
            <span class="nombrePag"> TOPCLOTHES </span>
          </div>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/menu-selecciones">Fútbol</a>
              </li>
            </ul>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLink="/">Home</a>
            </li>
          </ul>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="/formula-menu">Motor</a>
              </li>
          </ul>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="/nba-menu">Nba</a>
              </li>
          </ul>
        </div>
      </div>
    </nav>
  <span class="textHeader"> SELECCIONES </span>
</div>
<div id="menu" class="container-fluid">
  <div id="segundo" class="container"> 
      <div id="motor" class="container argentina">
          <div class="header">
              <span> ARGENTINA </span>
              <img class="img-fluid" src="./assets/argentina.png">
          </div>
      </div>
      <div id="nba" class="container francia">
          <div class="header">
              <span> FRANCIA </span>
              <img class="img-fluid" src="./assets/francia.png">
          </div>
      </div>
  </div>
  <div id="segundo" class="container"> 
    <div id="motor" class="container brasil">
        <div class="header">
            <span> BRASIL </span>
            <img class="img-fluid" src="./assets/brasil.png">
        </div>
    </div>
    <div id="nba" class="container inglaterra">
        <div class="header">
            <span> INGLATERRA </span>
            <img class="img-fluid" src="./assets/inglaterra.png">
        </div>
    </div>
  </div>
  <div id="segundo" class="container"> 
    <div id="motor" class="container belgica">
        <div class="header">
            <span> BÉLGICA </span>
            <img class="img-fluid" src="./assets/belgica.png">
        </div>
    </div>
    <div id="nba" class="container croacia">
        <div class="header">
            <span> CROACIA </span>
            <img class="img-fluid" src="./assets/croacia.png">
        </div>
    </div>
  </div>
  <div id="segundo" class="container"> 
    <div id="motor" class="container bajos">
        <div class="header">
            <span> PAISES BAJOS </span>
            <img class="img-fluid" src="./assets/paises-bajos.png">
        </div>
    </div>
    <div id="nba" class="container italia">
      <div class="header">
          <span> ITALIA </span>
          <img class="img-fluid" src="./assets/italia.png">
      </div>
    </div>
  </div>
  <div id="segundo" class="container"> 
    <div id="motor" class="container portugal">
        <div class="header">
            <span> PORTUGAL </span>
            <img id="resto" class="img-fluid" src="./assets/portugal.png">
        </div>
    </div>
    <div id="nba" class="container espana">
      <div class="header">
          <span> ESPAÑA </span>
          <img class="img-fluid" src="./assets/espana.png">
      </div>
    </div>
  </div>
  <div id="segundo" class="container"> 
    <div id="motor" class="container eeuu">
        <div class="header">
            <span> EEUU </span>
            <img id="resto" class="img-fluid" src="./assets/estados-unidos.png">
        </div>
    </div>
    <div id="nba" class="container mexico">
      <div class="header">
          <span> MÉXICO </span>
          <img class="img-fluid" src="./assets/mexico.png">
      </div>
    </div>
  </div>
  <div id="segundo" class="container"> 
    <div id="motor" class="container suiza">
        <div class="header">
            <span> SUIZA </span>
            <img id="resto" class="img-fluid" src="./assets/suiza.png">
        </div>
    </div>
    <div id="nba" class="container marruecos">
      <div class="header">
          <span> MARRUECOS </span>
          <img class="img-fluid" src="./assets/marruecos.png">
      </div>
    </div>
  </div>
  <div id="segundo" class="container"> 
    <div id="motor" class="container alemania">
        <div class="header">
            <span> ALEMANIA </span>
            <img id="resto" class="img-fluid" src="./assets/alemania.png">
        </div>
    </div>
    <div id="nba" class="container uruguay">
      <div class="header">
          <span> URUGUAY </span>
          <img class="img-fluid" src="./assets/uruguay.png">
      </div>
    </div>
  </div>
  <div id="segundo" class="container"> 
    <div id="motor" class="container colombia">
        <div class="header">
            <span> COLOMBIA </span>
            <img id="resto" class="img-fluid" src="./assets/colombia.png">
        </div>
    </div>
    <div id="nba" class="container senegal">
      <div class="header">
          <span> SENEGAL </span>
          <img class="img-fluid" src="./assets/senegal.png">
      </div>
    </div>
  </div>
</div>


