<div class="container-fluid">
    SELECCIONES NACIONALES
</div>
<div id="grid" class="container text-center">
    <div id="cols" class="row row-cols-3">
      <div class="col">
        <div id="liga" class="container">
            <span class="text"> ARGENTINA </span>
            <img class="pais" src="../../assets/argentina.png">
        </div>
      </div>
      <div class="col">
        <div id="liga" class="container">
            <span class="text"> FRANCIA </span>
            <img class="pais" src="../../assets/francia.png">
        </div>
      </div>
      <div class="col">
        <div id="liga" class="container">
            <span class="text"> BRASIL </span>
            <img class="pais" src="../../assets/brasil.png">
        </div>
      </div>
      <div class="col">
        <div id="liga" class="container">
            <span class="text"> INGLATERRA </span>
            <img class="pais" src="../../assets/inglaterra.png">
        </div>
      </div>
      <div class="col">
        <div id="liga" class="container">
            <span class="text"> BÉLGICA </span>
            <img class="pais" src="../../assets/belgica.png">
        </div>
      </div>
      <div class="col">
        <div id="liga" class="container">
            <span class="text"> CROACIA </span>
            <img class="pais" src="../../assets/croacia.png">
        </div>
      </div>
      <div class="col">
        <div id="liga" class="container">
            <span class="text"> PAISES BAJOS </span>
            <img class="pais" src="../../assets/paises-bajos.png">
        </div>
      </div>
      <div class="col">
        <div id="liga" class="container">
            <span class="text"> ITALIA </span>
            <img class="pais" src="../../assets/italia.png">
        </div>
      </div>
      <div class="col">
        <div id="liga" class="container">
            <span class="text"> PORTUGAL </span>
            <img class="pais" src="../../assets/portugal.png">
        </div>
      </div>
      <div class="col">
        <div id="liga" class="container">
            <span class="text"> ESPAÑA </span>
            <img class="pais" src="../../assets/espana.png">
        </div>
      </div>
      <div class="col">
        <div id="liga" class="container">
            <span class="text"> EEUU </span>
            <img class="pais" src="../../assets/estados-unidos.png">
        </div>
      </div>
      <div class="col">
        <div id="liga" class="container">
            <span class="text"> MÉXICO </span>
            <img class="pais" src="../../assets/mexico.png">
        </div>
      </div>
      <div class="col">
        <div id="liga" class="container">
            <span class="text"> SUIZA </span>
            <img class="pais" src="../../assets/suiza.png">
        </div>
      </div>
      <div class="col">
        <div id="liga" class="container">
            <span class="text"> MARRUECOS </span>
            <img class="pais" src="../../assets/marruecos.png">
        </div>
      </div>
      <div class="col">
        <div id="liga" class="container">
            <span class="text"> ALEMANIA </span>
            <img class="pais" src="../../assets/alemania.png">
        </div>
      </div>
      <div class="col">
        <div id="liga" class="container">
            <span class="text"> URUGUAY </span>
            <img class="pais" src="../../assets/uruguay.png">
        </div>
      </div>
      <div class="col">
        <div id="liga" class="container">
            <span class="text"> COLOMBIA </span>
            <img class="pais" src="../../assets/colombia.png">
        </div>
      </div>
      <div class="col">
        <div id="liga" class="container">
            <span class="text"> SENEGAL </span>
            <img class="pais" src="../../assets/senegal.png">
        </div>
      </div>
    </div>
</div>

