.container-fluid {
    background-color: #040D12;
    height: 70px;
    font-family: 'Info';
    justify-content: left;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 20px;
    color: white;
}

#buttons {
    background-color: transparent !important;
    height: 100%;
    font-family: 'Cami';
    font-size: 14px !important;
    display: grid;
    grid-column: auto;
    align-items: center;
    justify-content: center;

}

.btn {
    width: 100%;
    margin-top: 5%;
    border-radius: 50px;
}

.navbar-nav {
    margin-left: 2%;
}

.navbar-brand {
    color: white;
    font-size: 18px;
}

.nav-link.active {
    color: #5C8374;
    font-size: 18px;
}

.nav-link {
    color: white;
    font-size: 18px;
}

.nav-link:hover {
    border-bottom: 1px solid #5C8374;
    color: #5C8374;
    border-bottom: 1px solid white;
}

.navbar-toggler {
    background-color: #5C8374;
}


.logoPagina {
    width: 60px;
}

.logoPagina2 {
    width: 40px;
}

.navbar-collapse {
    background-color: #040D12;
}

.navbar-nav .nav-item .nav-link:hover {
    border-bottom: 1px solid #5C8374;
    color: #5C8374;
}

.accordion-item {
    --bs-accordion-border-color: transparent;
}

.accordion {
    --bs-accordion-active-bg: none !important;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem transparent;
    --bs-accordion-bg: transparent;
    background-color: #E7A614;
}

.accordion-button {
    color: white !important;
    font-size: 16px !important;
}

.accordion-body {
    text-align: center;
}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

#menu {
    height: 93vh;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #93B1A6;
    overflow: auto !important;
}

.col {
    gap: 5%;
    margin-top: 5%;
}

.btn {
    background-color: white;
    color: #040D12;
    border: 1px solid #040D12;
    border-radius: 0%;
    font-weight: bolder;
}

.container {
    background-color: #5C8374;
    height: 8vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid black;
    font-family: 'Info';
    width: 100% !important;
}

.img {
    width: 100px;
    margin-left: auto;
}

#tool {
    margin-left: 2%;
    width: 30px;
    cursor: pointer;
    animation: bounce 1s linear 3s 1 normal forwards;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-5px); /* Cambia la cantidad de rebote ajustando el valor aquí */
    }
    60% {
      transform: translateY(-5px); /* Cambia la cantidad de rebote ajustando el valor aquí */
    }
}


// CAROUSEL ESTILOS
// -----------------------------------

.w-100 {
    width: 100%!important;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: #5C8374;
    border-radius: 50px;
}

.carousel-indicators [data-bs-target] {
    background-color: #5C8374;
}

.escudo {
    width: 30px;
}

// ------------------------------------------

.textoDiv {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

// ---------------------------------------

.logo {
    width: 40px;
    margin-right: auto;
}

.logoPagina {
    width: 60px;
}

.text {
    flex: 1;
    text-align: center;
}

.textHeader {
    flex: 1;
    text-align: right;
}

.modal-header {
    border-bottom: 0px;
    background-color: #5C8374;
    height: 60px;
    .title {
        font-family: 'cami';
        font-size: 16px;
        color: white;
    }
    .logoPagina {
        width: 60px;
    }
}

html, body {
    height: 100%;
    margin: 0;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: transparent !important
}

.spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.438);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#carrouselImg {
    max-height: 300px;
    object-fit: contain;
}

#footer {
    background-color: transparent !important;
    margin-top: 3%;
    border: none;
}

#btnFooter {
    margin-top: 0%;
    width: 50%;
    height: 5vh;
    background-color: #5C8374;
    color: white;
}

#copiado {
    background-color: rgba(255, 0, 0, 0.61);
    color: white;
}

@media (max-width: 768px) {

    .nombrePag {
        font-size: 14px;
    }

    .navbar-collapse {
        position: fixed;
        top: 0;
        right: 100%;
        width: 50%;
        height: 100%;
        padding-top: 56px;
        transition: right 0.3s ease;
        z-index: 999;
      }
    
    .navbar-collapse.show {
        right: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .nombrePag {
        font-size: 14px;
    }

    .navbar-collapse {
        position: fixed;
        top: 0;
        right: 100%;
        width: 50%;
        height: 100%;
        padding-top: 56px;
        transition: right 0.3s ease;
        z-index: 999;
      }
    
    .navbar-collapse.show {
        right: 0;
    }
}

@media (min-width: 1200px) {

    .btn {
        transition: background-color 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55), transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }

    .btn:hover {
        transform: scale(1);
        background-color: #93B1A6;
        border-radius: 50px;
    }
}