<div class="container-fluid">
    <img class="logoPagina" src="./assets/logoPagina.png">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/futbol-menu">Fútbol</a>
                </li>
              </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="/">Home</a>
              </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" routerLink="/formula-menu">Motor</a>
                </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" routerLink="/nba-menu">Nba</a>
                </li>
            </ul>
          </div>
        </div>
      </nav>
      <img class="img" src="./assets/LaLiga_2023_Horizontal_Logo.svg (3).png">
</div>
<div id="grid" class="container text-center">
    <div id="cols" class="row row-cols-2 row-cols-lg-4">
      <div class="col">
        <div id="carouselMadrid" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselMadrid" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselMadrid" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img [src]="images[0]" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img [src]="images[2]" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselMadrid" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselMadrid" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <div id="liga" class="container madrid">
            <div class="DivEscudo">
                <img class="escudo" src="https://upload.wikimedia.org/wikipedia/commons/7/70/RealMadrid.png">
            </div>
            <div class="textoDiv">
                <span> Real Madrid </span>
                <span> 2023/2024 </span>
            </div>
        </div>
      </div>
      <div class="col">
        <div id="carouselBarca" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselBarca" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselBarca" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img [src]="images[1]" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img [src]="images[3]" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselBarca" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselBarca" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <div id="liga" class="container barca">
            <div class="DivEscudo">
                <img class="escudo" src="https://cdn.icon-icons.com/icons2/104/PNG/256/fc_barcelona_footballteam_18015.png">
            </div>
            <div class="textoDiv barca">
                <span> FC Barcelona </span>
                <span> 2023/2024 </span>
            </div>
        </div>
      </div>
    </div>
</div>
