<div class="container-fluid">
    LIGAS
</div>
<div id="grid" class="container text-center">
    <div id="cols" class="row row-cols-3">
      <div class="col">
        <div id="liga" class="container">
            <img class="img" src="./assets/LaLiga_2023_Horizontal_Logo.svg (3).png">
            <img class="pais" src="./assets/espana.png">
        </div>
      </div>
      <div class="col">
        <div id="liga" class="container">
            <img class="img" src="./assets/logo-Premier-League.png">
            <img class="pais" src="./assets/inglaterra.png">
        </div>
      </div>
      <div class="col">
        <div id="liga" class="container">
            <img class="img" src="./assets/Italian-Serie-A-Logo-2019.png">
            <img class="pais" src="./assets/italia.png">
        </div>
      </div>
      <div class="col">
        <div id="liga" class="container">
            <img class="img" src="./assets/logo-German-Bundesliga.png">
            <img class="pais" src="./assets/alemania.png">
        </div>
      </div>
      <div class="col">
        <div id="liga" class="container">
            <img id="france" class="img" src="./assets/Ligue 1 Uber Eats.png">
            <img class="pais" src="./assets/francia.png">
        </div>
      </div>
      <div class="col">
        <div id="liga" class="container">
            <img class="img" src="./assets/Liga Portugal.png">
            <img class="pais" src="./assets/portugal.png">
        </div>
      </div>
      <div class="col">
        <div id="liga" class="container">
            <img id="resto" class="img" src="./assets/1648592690358.png">
            <img class="pais" src="./assets/en-todo-el-mundo.png">
        </div>
      </div>
    </div>
</div>

