.container-fluid {
    background-color: #040D12;
    height: 70px;
    font-family: 'Info';
    justify-content: left;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 20px;
    color: white;
}

html, body {
    height: 100%;
    margin: 0;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: transparent !important
}

#grid {
    font-family: 'Info';
    background-color: #93B1A6;
    height: 93vh;
    overflow: auto !important;
}

.col {
    margin-top: 3%;
}

.navbar-nav {
    margin-left: 2%;
}

.navbar-brand {
    color: white;
    font-size: 18px;
}

.nav-link.active {
    color: #5C8374;
    font-size: 18px;
}

.nav-link {
    color: white;
    font-size: 18px;
}

.nav-link:hover {
    border-bottom: 1px solid #5C8374;
    color: #5C8374;
    border-bottom: 1px solid white;
}

.navbar-toggler {
    background-color: #5C8374;
}

.logoPagina {
    width: 60px;
}

.logoPagina2 {
    width: 40px;
}

.navbar-collapse {
    background-color: #040D12;
    z-index: 9999;
}

.navbar-nav .nav-item .nav-link:hover {
    border-bottom: 1px solid #5C8374;
    color: #5C8374;
}

.textHeader {
    flex: 1;
    text-align: right;
    font-size: 18px;
}

.accordion-item {
    --bs-accordion-border-color: transparent;
}

.accordion {
    --bs-accordion-active-bg: none !important;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem transparent;
    --bs-accordion-bg: transparent;
}

.accordion-button {
    color: black !important;
    font-size: 25px !important;
}

.accordion-body {
    text-align: center;
}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.contacto {
    width: 40px;
}

.copy {
    width: 20px;
    margin-left: 5%;
    cursor: pointer;
}

.divContacto {
    margin-top: 2%;
}

.telefono {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.telefono1 {
    width: 100%;
}

.telefono2 {
    width: 100%;
    margin-top: 3%;
}

.toast-body {
    width: 80%;
}

.check {
    margin-left: 2%;
    font-size: 14px;
}

#copiado {
    background-color: #5C8374;
}

.btn-close {
    --bs-btn-close-opacity: 1;
    --bs-btn-close-white-filter: invert(0) grayscale(0%) brightness(0%);
}

#reco {
    font-size: 14px !important;
    font-weight: bolder;
}

#reco::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23000000' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E") !important;
    transition: all 0.5s !important;
}

#reco:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23000000' class='bi bi-dash-lg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z'/%3E%3C/svg%3E") !important;
}

#cols {
    overflow: auto;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 100%;
}


@media (max-width: 768px) {

    .nombrePag {
        font-size: 14px;
    }

    .navbar-collapse {
        position: fixed;
        top: 0;
        right: 100%;
        width: 50%;
        height: 100%;
        padding-top: 56px;
        transition: right 0.3s ease;
        z-index: 999;
      }
    
    .navbar-collapse.show {
        right: 0;
    }

    .row {
        flex-direction: column;
    }

    .row-cols-2>* {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .nombrePag {
        font-size: 14px;
    }

    .navbar-collapse {
        position: fixed;
        top: 0;
        right: 100%;
        width: 50%;
        height: 100%;
        padding-top: 56px;
        transition: right 0.3s ease;
        z-index: 999;
      }
    
    .navbar-collapse.show {
        right: 0;
    }
}