<div class="container-fluid">
    <img class="logoPagina" src="./assets/logoPagina.png">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/infopage">Info</a>
                </li>
              </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="/">Home</a>
              </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" routerLink="/futbol-menu">Fútbol</a>
                </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" routerLink="/formula-menu">Motor</a>
                </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" routerLink="/nba-menu">Nba</a>
                </li>
            </ul>
          </div>
        </div>
      </nav>
    <span class="textHeader"> INFO </span>
</div>
<div id="grid" class="container text-center">
    <div id="cols" class="row row-cols-3">
      <div class="col">
        <div class="accordion" id="tallas">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
                  TALLAS
                </button>
              </h2>
              <div id="collapseOne1" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#tallas">
                <div class="accordion-body">

                </div>
              </div>
            </div>
        </div>
      </div>
        <div class="col">
          <div class="accordion" id="lavado">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2" aria-expanded="false" aria-controls="collapseOne2">
                  LAVADO DE CAMISETAS
                </button>
              </h2>
              <div id="collapseOne2" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#lavado">
                <div class="accordion-body">
                <!-- INFORMACION 1 -->
                  <div class="accordion" id="lavado1">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button id="reco" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne4" aria-expanded="false" aria-controls="collapseOne4">
                          RECOMENDACIONES DE LA ETIQUETA
                        </button>
                      </h2>
                      <div id="collapseOne4" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#lavado1">
                        <div class="accordion-body">
                          <span> 
                            Antes de darle la primera lavada a tu camiseta estampada con serigrafía, lo más sabio que puedes hacer es revisar la etiqueta, 
                            pues en ella se suele incluir información importante, por ejemplo, si puedes meterla en la lavadora o plancharla.
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- INFORMACION 2 -->
                  <div class="accordion" id="lavado2">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button id="reco" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne5" aria-expanded="false" aria-controls="collapseOne4">
                          SEPARAR LAS CAMISETAS
                        </button>
                      </h2>
                      <div id="collapseOne5" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#lavado2">
                        <div class="accordion-body">
                          <span> 
                            Uno de los consejos más importantes que podemos darte para cuidar las camisetas serigrafiadas es separarlas por colores. 
                            Nunca metas a la lavadora prendas oscuras con las blancas porque las primeras podrían desprender color y manchar las últimas.
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- INFORMACION 3 -->
                  <div class="accordion" id="lavado3">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button id="reco" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne6" aria-expanded="false" aria-controls="collapseOne4">
                          DISEÑO HACIA DENTRO
                        </button>
                      </h2>
                      <div id="collapseOne6" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#lavado3">
                        <div class="accordion-body">
                          <span> 
                            Te aconsejamos que metas las prenda a la lavadora de revés, es decir, 
                            el diseño o estampado siempre debe estar hacia adentro, para que no roce con el tambor de la lavadora.
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- INFORMACION 4 -->
                  <div class="accordion" id="lavado4">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button id="reco" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne7" aria-expanded="false" aria-controls="collapseOne4">
                          LAVAR CON AGUA FRÍA
                        </button>
                      </h2>
                      <div id="collapseOne7" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#lavado4">
                        <div class="accordion-body">
                          <span> 
                            El agua caliente puede ocasionar que la tinta vaya desapareciendo con cada lavada, por lo tanto, 
                            asegúrate de usar agua fría, a no más de 30 °C, para que el diseño dure el mayor tiempo posible.
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- INFORMACION 5 -->
                  <div class="accordion" id="lavado5">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button id="reco" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne8" aria-expanded="false" aria-controls="collapseOne4">
                          USA JABÓN NEUTRO
                        </button>
                      </h2>
                      <div id="collapseOne8" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#lavado5">
                        <div class="accordion-body">
                          <span> 
                            Esto también puedes hacerlo al escoger un jabón neutro para lavarlo, nunca emplees uno que sea abrasivo.
                            Además, no uses blanqueadores ni lejía porque este puede hacer que se vaya borrando el diseño, tampoco utilices lejía ni suavizante.
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- INFORMACION 6 -->
                  <div class="accordion" id="lavado6">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button id="reco" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne9" aria-expanded="false" aria-controls="collapseOne4">
                          NO FROTAR EL ESTAMPADO
                        </button>
                      </h2>
                      <div id="collapseOne9" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#lavado6">
                        <div class="accordion-body">
                          <span> 
                            No frotes directamente la zona donde se ubica el serigrafiado.
                            También te recomendamos que no estrujes la camiseta a la hora de secarla, ya que esto también podría dañarlo.
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- INFORMACION 7 -->
                  <div class="accordion" id="lavado7">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button id="reco" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne10" aria-expanded="false" aria-controls="collapseOne4">
                          PLANCHA CON CUIDADO
                        </button>
                      </h2>
                      <div id="collapseOne10" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#lavado7">
                        <div class="accordion-body">
                          <span> 
                            Para ello, plancha de revés y controla la temperatura para que esta no sea muy caliente, preferiblemente que no sobrepase los 110 ºC. 
                            Si decides planchar la camiseta sin darle la vuelta, coloca un paño sobre el estampado para no pasarle la plancha directamente.
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- INFORMACION 8 -->
                  <div class="accordion" id="lavado8">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button id="reco" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne11" aria-expanded="false" aria-controls="collapseOne4">
                          LAVADO A MANO
                        </button>
                      </h2>
                      <div id="collapseOne11" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#lavado8">
                        <div class="accordion-body">
                          <span> 
                            La mejor opción siempre será el lavado a mano con agua que no esté caliente.
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="accordion" id="contacto">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne3" aria-expanded="false" aria-controls="collapseOne3">
                  CONTACTO
                </button>
              </h2>
              <div id="collapseOne3" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#contacto">
                <div class="accordion-body">
                  <span> Para contactar con nosotros puedes utilizar los siguientes teléfonos. </span>
                  <div class="divContacto">
                    <img class="contacto" src="https://cdn-icons-png.flaticon.com/256/0/191.png">
                  </div>
                  <div class="telefono">
                    <div class="telefono1">
                      <span> 639 728 158  </span>
                      <img (click)="copyTelefono1ToClipboard()" class="copy" src="https://cdn-icons-png.flaticon.com/256/1374/1374885.png">
                    </div>
                    <div class="telefono2">
                      <span> 651 483 122  </span>
                      <img (click)="copyTelefono2ToClipboard()" class="copy" src="https://cdn-icons-png.flaticon.com/256/1374/1374885.png">
                    </div>
                  </div> 
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
<div class="toast-container position-fixed bottom-0 start-0 p-3">
  <div id="copiado" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
          <div class="toast-body">
            <img src="https://cdn-icons-png.flaticon.com/256/3641/3641252.png" class="copy">
            <span class="check"> Copiado al portapapeles </span>
          </div>
              <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
  </div>
</div>
